*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.mic_icon{
    border: 1px ridge #050505;
    padding: 10px;
    border-radius: 65px;
    cursor: pointer;
    background-color: #f7f3f3;
    margin-left: 20px;
    background-color: #050505;
    
}


.mic_icon:hover {
    background-color: #363636;
    
    /* filter: drop-shadow(3px 3px 2px #050505); */
}





.main_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px ridge #050505 ; */
    height: 70dvh;
    gap: 20px;
}

.first_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 1px ridge #050505; */
    padding: 15px;
}

.listining_card{
    position: absolute;
    bottom: 150px;
    background-color: #040404;
    width: 70dvw;
    max-width: 50dvw;
    height: 50dvh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

.listining_card h1 {

    color: #f7f3f3;
    letter-spacing: 1px;
    font-weight: 400;
}

.stop_icon{
    height: 5dvh;
    width: 4dbw;
    cursor: pointer;
}

.stop_icon:hover{
    transform: scale(1.4);
    transition: transform 150ms ease-in-out;
}

.timer{
    color: #f7f3f3;
    size: 100px;
}